.info-wrapper {
  display: flex;
  justify-content: space-between;
}

.info-wrapper button {
  background: #136a75;
  color: powderblue;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
